@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
@import url("https://use.typekit.net/dpx2cqa.css");

:root {
  --background: #000;
  --foreground: #fff;
  --grey: #cccccb;
  --accentCol1: #564fa1;
  --accentCol2: #938ac2;
  --outerMargin: 20vw;
  --innerWidth: 15vw;
  --innerContent: 60vw;
  --innerHeightMargin: 10vh;
  --outerHeightMargin: 20vh;
}
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: var(--background);
  font-family: "Work Sans", sans-serif;
}
.width {
  max-width: 900px;
  margin: 150px auto 0 auto;
  padding: 20px;
}
.width section {
  margin: 10px 0 150px 0;
}

#title {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  mix-blend-mode: difference;
  z-index: 5;
}
#title a,
#title a:visited,
nav a,
nav a:visited {
  color: var(--foreground);
  font-style: normal;
}
#title a:hover {
  font-weight: 600;
}
nav {
  position: fixed;
  height: 0px;
  overflow: hidden;
  top: 100px;
  right: 50px;
  text-align: right;
  line-height: 45px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
  z-index: 4;
}
nav ul li {
  font-weight: 500;
  font-size: 1.5em;
  list-style-type: none;
}
nav a:hover {
  font-style: italic;
}
#logo {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  width: 85px;
  height: 100px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}
#logo_img {
  width: 85px;
  z-index: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--foreground);
  margin: 10px 0;
}
h1 {
  font-family: terfens, sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  max-width: 115px;
}
h2 {
  font-family: terfens, sans-serif;
  font-size: 4.5em;
  font-weight: 400;
}
h3 {
  font-family: terfens, sans-serif;
  font-size: 3em;
  font-weight: 400;
}
h4 {
  font-size: 1.85em;
  font-weight: 500;
}
h5 {
  font-size: 1.5em;
  font-weight: 600;
  font-style: italic;
}
p {
  color: var(--foreground);
  font-size: 1.5em;
  font-weight: 300;
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  color: var(--foreground);
  text-align: center;
  margin: 5px 0;
}
hr {
  width: 70vw;
  margin: 0 auto;
}
#tags hr {
  width: 100%;
  margin: 10px 0;
  /* width: calc(0.75 * var(--innerWidth)); */
}
button {
  font-family: "Work Sans", sans-serif;
  background-color: var(--grey);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 25px;
  margin: 10px 5px;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  font-style: italic;
}
main a,
main a:visited {
  color: var(--accentCol2);
}
main a:hover {
  color: var(--accentCol1);
}
::selection {
  background-color: var(--accentCol1);
}

.flex {
  display: flex;
}
.fullHeight {
  height: 100vh;
}
.alignCenter {
  text-align: center;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20vw;
  background-color: var(--grey);
  z-index: 5;
}
#scribble {
  top: 0;
  left: 0;
  /* width: 40vw;
  height: 40vw; */
  border-radius: 50%;
  /* background-color: var(--foreground); */
}
#featured {
  margin: 10vh 0 var(--outerHeightMargin) 20vw;
}
#featured article {
  display: grid;
  grid: 1fr / 0.1fr 1fr;
  margin: 50px 0;
  gap: 2vw;
  padding-left: 20px;
}
.featText {
  text-align: right;
  width: 30vw;
}
.featuredImage {
  width: 100%;
  height: 500px;
  float: right;
  /* background-color: var(--grey); */
  background-position: center;
  background-size: contain;
}
#feat1Img {
  background-image: url("../assets/q3.png");
}
#feat2Img {
  background-image: url("../assets/creative_coding_img/frac1.jpg");
}
#feat2Img:hover {
  transition: opacity 1s ease-in-out;
  animation: cycleImg 5s infinite;
}
@keyframes cycleImg {
  0% {
    background-image: url("../assets/creative_coding_img/frac1.jpg");
  }
  25% {
    background-image: url("../assets/creative_coding_img/expcam.png");
  }
  50% {
    background-image: url("../assets/creative_coding_img/tanvi-interactive_type.png");
  }
  75% {
    background-image: url("../assets/creative_coding_img/yiping-digital_divination.png");
  }
  100% {
    background-image: url("../assets/creative_coding_img/frac1.jpg");
  }
}
.rArrow {
  display: block;
  transition: 1s ease-in;
  animation: arrowBounceL 2s infinite;
}
.featText a h3,
.rArrow h3 {
  color: var(--accentCol2);
}
.featText a h3:hover,
.rArrow h3:hover {
  color: var(--accentCol1);
}
@keyframes arrowBounceL {
  0% {
    padding-right: 0;
  }
  50% {
    padding-right: 20px;
  }
  100% {
    padding-right: 0;
  }
}
.dArrow {
  display: block;
  height: 180px;
  transition: 1s ease-in;
  animation: arrowBounceD 2s infinite;
}
@keyframes arrowBounceD {
  0% {
    padding-bottom: 0;
  }
  50% {
    padding-bottom: 30px;
  }
  100% {
    padding-bottom: 0;
  }
}

#about {
  max-width: 900px;
  margin: 100px auto;
}
#info {
  text-align: center;
  margin-bottom: 50px;
}
#profiles {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr 1fr;
  gap: 2%;
}
.profile p {
  text-align: center;
}
.profile figure img {
  width: 100%;
}

.aboutRotate:hover {
  display: block;
  transition: 1s ease-in-out;
  animation: rotateImg 2s infinite;
}
@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#contact {
  max-width: 900px;
  margin: 150px auto;
}
#contact h3 {
  text-align: center;
}
.formInput {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  border-color: var(--foreground);
  border-style: solid;
  border-width: 1px;
  margin: 4vh auto 0 auto;
  padding: 3vh 1vw;
  width: 100%;
  background-color: transparent;
  color: var(--foreground);
  opacity: 100%;
}
.formButton {
  font-family: "Work Sans", sans-serif;
  background-color: var(--grey);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 25px;
  margin: 10px 5px;
}
#formMessage {
  padding: 6vh 1vw;
}
#centerText {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  /* padding: 0 var(--outerMargin); */
  padding: 0 20px;
  /* border: 1px solid var(--foreground); */
}
#footerIcons {
  margin: auto 0;
}
.socials {
  /* background-color: grey; */
  width: 40px;
  height: 40px;
  margin-left: 1vw;
  border-radius: 50%;
  overflow: hidden;
}

.social_icon {
  display: block;
  margin: auto;
  margin-top: 15%;
  width: 70%;
  height: 70%;
}

/* .social_icon {
  width:40px;
  height: 40px;
} */

#jumpTo {
  position: fixed;
  top: 35vh;
  width: max-content;
  margin: 5vh 1vw;
}

#jumpTo li {
  color: var(--foreground);
  display: flex;
  margin: 10px 0;
}

.JumpToText{
  display:block;
  margin:0 0 0 10px;
  opacity: 0%;
}
.JumpToText a {
  height: 100%;
  text-decoration: none;
}
.JumpToText :hover {
  opacity: 100%;
}
.circle {
  outline: 2px solid var(--grey);
  width: 20px;
  height: 20px;
  /* margin: 0 1vw 0 3vw; */
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
footer p {
  margin-left: 80px;
}
#footerIcons {
  margin: auto 6vw auto 0;
}
.socials {
  /* background-color: var(--grey); */
  width: 40px;
  height: 40px;
  margin-left: 1vw;
  /* border-radius: 50%; */
}

/* PAGE 2: Projects */
#projpg {
  position: relative;
  top: 70px;
  padding: 50px;
}
#projects {
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 2%;
  height: 70vh;
  width: 100%;
  touch-action: none;
  margin-top: -100px;
  /* overflow: hidden; */
}
#projects article {
  height: 100%;
}
#projects article h3 {
  position: relative;
  top: 10px;
  background-color: var(--accentCol1);
  padding: 0 5px;
}
.projPrev {
  width: 200px;
  height: 200px;
  touch-action: none;
  user-select: none;
  position: relative;
  background-position: center;
  background-size: contain;
  display: inline-block;
}
#qsweeper {
  background-image: url(../assets/entminelg.png);
}
#frac {
  background-image: url(../assets/creative_coding_img/frac1.jpg);
}
#expcam {
  background-image: url(../assets/creative_coding_img/expcam.png);
}
#inttype {
  background-image: url(../assets/creative_coding_img/tanvi-interactive_type.png);
}
#bagua {
  background-image: url(../assets/creative_coding_img/yiping-digital_divination.png);
}
.item {
  width: min-content;
  display: inline-block;
}
.item:hover,
.projPrev:hover {
  cursor: grab;
}
.item:active,
.projPrev:active {
  cursor: grabbing;
}

/* PAGE 3: About */
#abtPg {
  max-width: var(--innerHeightMargin) var(--outerMargin);
  /* text-align: center; */
}
#abtPg span {
  text-decoration: 20px var(--accentCol1) underline;
  text-decoration-skip-ink: none;
  text-underline-position: below;
  text-underline-offset: -10px;
}
.person {
  display: grid;
  grid: 1fr / 0.4fr 0.6fr;
  gap: 2vw;
  margin: 50px 0;
}
.picture img {
  width: 100%;
}

/* PAGE 4: Devlog */
#devlog {
  display: grid;
  grid: 1fr / 0.7fr 0.3fr;
  gap: 5%;
}
#tags {
  align-self: flex-start;
  height: auto;
  position: sticky;
  top: 0;
}
#tags h4 {
  text-align: right;
}
#tags button {
  float: right;
}
.individualPost {
  border: 1px solid var(--foreground);
  padding: 30px;
  margin: 40px 0;
}

/* PAGE 5: INDIVIDUAL PROJECT PAGE */
#date {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}
#q-sweeper {
  margin: var(--innerHeightMargin) var(--outerMargin);
}
#mainInfo {
  height: fit-content;
}
#mainImg img {
  /* height: 405px; */
  width: 100%;
  background-color: var(--grey);
}
.gallery {
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 2vh 2vw;
  margin: var(--innerHeightMargin) 0;
}
.gallery figure img {
  /* background-color: #564fa1; */
  /* height: 100%; */
  width: 100%;
}
.gallery_small {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr 1fr;
  gap: 2vh 2vw;
  margin: var(--innerHeightMargin) 0;
}
.gallery_small figure img {
  width: 100%;
}
.imagex2 {
  width: calc(0.45 * var(--innerContent));
  height: 305px;
  background-color: var(--grey);
  margin: calc(0.5 * var(--innerHeightMargin)) 0;
}

.fly {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

@media only screen and (max-width: 1100px) {
  #tags {
    top: 130px;
  }
}
@media only screen and (max-width: 1000px) {
  /* body{
    background-color: blue;
  } */
  #jumpTo {
    visibility: hidden;
  }
  #featured {
    margin-left: 0;
  }
  #featured article {
    margin-left: 20px;
  }
  .featText {
    width: 40vw;
  }
  #about,
  #contact {
    margin: 100px 20px 20px 20px;
  }
  .projects {
    grid: 1fr 1fr / 1fr;
  }
}

@media only screen and (max-width: 600px) {
  /* body{
    background-color: cornflowerblue;
  } */
  #featured article {
    grid: 1fr 1fr/ 1fr;
    gap: 0;
    margin: 0 0 50px 0;
    padding: 20px;
  }
  .featText {
    width: 100%;
  }
  .featText h3 {
    margin: 0;
  }
  .featuredImage {
    width: 100%;
    height: 100%;
  }
  #profiles {
    grid: 1fr 1fr / 1fr 1fr;
  }
  #footerIcons {
    margin: auto 0;
  }
  #devlog {
    grid: 1fr / 1fr;
    gap: 2%;
  }
  #posts {
    width: 100%;
  }
  #tags {
    grid-row: 1 / 2;
    position: relative;
    top: 0;
  }
  #tags h4 {
    text-align: left;
  }
  #tags button {
    float: left;
  }
  .person {
    grid: 1fr / 1fr;
  }
}
/* @media only screen and (max-width: 400px){
  body{
    background-color: darkgoldenrod;
  }
} */
