@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url("https://use.typekit.net/dpx2cqa.css");

:root {
  --background: #000;
  --foreground: #fff;
  --grey: #cccccb;
  --accentCol1: #564fa1;
  --accentCol2: #938ac2;
  --outerMargin: 20vw;
  --innerWidth: 15vw;
  --innerContent: 60vw;
  --innerHeightMargin: 10vh;
  --outerHeightMargin: 20vh;
}
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: var(--background);
  font-family: 'Work Sans', sans-serif;
}
.width{
  max-width: 900px;
  margin: var(--outerHeightMargin) auto 0 auto;
}
.width section{
  margin: 50px 0 150px 0;
}
nav{
  position:fixed;
  height:0px;
  overflow: hidden;
  top:100px;
  right: 4vw;
  text-align: right;
  line-height: 45px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
nav ul li{
  list-style-type: none;
}
header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  mix-blend-mode:difference; 
}
header a, header a:visited{
  color: var(--foreground);
}
#headerFlex {
  display: flex;
  margin: 1vw;
  padding: 10px;
  justify-content: space-between;
}
#title a:hover{
  font-style: normal;
}
#logo {
  width: 85px;
  height: 100px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
#logo_img{
  width:85px;
}

h1, h2, h3, h4, h5{
  color: var(--foreground);
  margin: 10px 0;
}
h1 {
  font-family: terfens, sans-serif;
  font-size: 36px;
  font-weight: 400;
  max-width: 115px;
}
h2 {
  font-family: terfens, sans-serif;
  font-size: 72px;
  font-weight: 400;
}
h3 {
  font-family: terfens, sans-serif;
  font-size: 48px;
  font-weight: 400;
}
h4 {
  font-size: 30px;
  font-weight: 500;
}
h5 {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}
p {
  color: var(--foreground);
  font-size: 1.5em;
  font-weight: 300;
}
figure{
  margin: 0;
  padding: 0;
}
hr {
  width: 70vw;
  margin: 0 auto;
}
#tags hr {
  width: 100%;
  margin: 10px 0;
  /* width: calc(0.75 * var(--innerWidth)); */
}
button {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--grey);
  border: none;
  /* float: right; */
  padding: 1vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 25px;
  /* margin: 4vh auto 0 auto; */
  margin: 10px 5px;
}
a, a:visited{
  text-decoration: none;
}
a:hover{
  font-style: italic;
}
main a, main a:visited{
  color: var(--accentCol2);
}
main a:hover {
  color: var(--accentCol1);
}
::selection{
  background-color: var(--accentCol1);
}

.flex{
  display: flex;
}
.fullHeight {
  height: 100vh;
}
.alignCenter {
  text-align: center;
}
#featured article{
  display: grid;
  grid: 1fr / 0.35fr 0.65fr;
  margin: 50px 0;
  gap: 2vw;
}
.featText{
  text-align: right;
}
.featuredImage {
  /* width: 55vw; */
  height: 80vh;
  /* background-color: var(--grey); */
  background-position: center;
  background-size:cover;
}
#feat1Img{
  background-image: url("/assets/q3.png");
}
#feat2Img{
  background-image: url("/assets/creative_coding_img/frac1.jpg");
}
#feat2Img:hover{
  /* transition: opacity 1s ease-in-out; */
  animation: cycleImg 5s infinite;
}
@keyframes cycleImg{
  0%    {background-image: url("/assets/creative_coding_img/frac1.jpg");}
  25%   {background-image: url("/assets/drawing.png");}
  50%   {background-image: url("/assets/creative_coding_img/tanvi-interactive_type.png");}
  75%   {background-image: url("/assets/creative_coding_img/yiping-digital_divination.png");}
  100%  {background-image: url("/assets/creative_coding_img/frac1.jpg");}
}
.rArrow{
  display: block;
  transition: 1s ease-in;
  animation: arrowBounceL 2s infinite;
}
.featText a h3, .rArrow h3{
  color: var(--accentCol2);
}
.featText a h3:hover, .rArrow h3:hover{
  color: var(--accentCol1);
}
@keyframes arrowBounceL{
  0%    {padding-right: 0;}
  50%   {padding-right: 20px;}
  100%  {padding-right: 0;}
}
.dArrow{
  display: block;
  transition: 1s ease-in;
  animation: arrowBounceD 2s infinite;
}
@keyframes arrowBounceD{
  0%    {padding-bottom: 0;}
  50%   {padding-bottom: 30px;}
  100%  {padding-bottom: 0;}
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20vw;
  background-color: var(--grey);
  z-index: 5;
}
#scribble {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: var(--black);
}
#featured {
  margin: var(--outerHeightMargin) 0 var(--outerHeightMargin) 20vw;
}
#about {
  margin: var(--outerHeightMargin) var(--outerMargin);
}
#info{
  text-align: center;
}
.profile {
  width: var(--innerWidth);
  margin: 10px;
}
.profile p{
  text-align: center;
}
.profile figure img{
  height: calc(0.9 * var(--innerWidth));
}
#profilePhoto {
  /* width: calc(0.9 * var(--innerWidth)); */
  height: calc(0.9 * var(--innerWidth));
  background-color: var(--grey);
}
#contact {
  max-width: calc(2.5 * var(--innerWidth));
  margin: 150px auto;
}
#contact h3 {
  text-align: center;
}
.contactBox {
  border-color: var(--foreground);
  border-style: solid;
  border-width: 1px;
  margin: 4vh auto 0 auto;
  padding: 0 1vw;
}

#centerText {
  text-align: center;
}

footer{
  display: flex;
  justify-content: space-between;
  /* padding: 0 var(--outerMargin); */
  padding: 0 20px;
  /* border: 1px solid var(--foreground); */
}
#footerIcons {
  margin: auto 0;
}
.socials {
  background-color: var(--grey);
  width: 40px;
  height: 40px;
  margin-left: 1vw;
  border-radius: 50%;
}

#jumpTo {
  position: fixed;
  top: 35vh;
  /* width: calc(0.5 * var(--outer/Margin)); */
  width: 20vw;
  margin: 5vh 1vw;
}
#jumpTo li{
  color: var(--foreground);
  display: flex;
  list-style-type: none;
  margin: 10px 0;
}
#jumpTo a{
  margin: 0 0 0 10px;
  display: block;
  height: 100%;
  text-decoration: none;
  opacity: 0%;
}
#jumpTo a:hover{
  opacity: 100%;
}
.circle {
  background-color: var(--grey);
  width: 20px;
  height: 20px;
  /* margin: 0 1vw 0 3vw; */
  border-radius: 50%;
}


/* PAGE 2: Projects */
.projects {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  gap: 2vh 2vw;
}
.project{
  /* width: calc(0.3 * var(--innerContent));
  height: calc(0.3 * var(--innerContent)); */
  width: 100%;
  height: 100%;
  /* background-color: var(--grey); */
  margin: 0;
  text-align: center;
}
/* .project:hover {
  mix-blend-mode: var(--accentCol1);
} */
.project:hover .projectName {
  opacity: 100%;
}
.project img{
  width: 100%;
}
.project figcaption {
  /* position:  */
  opacity: 0%;
}


/* PAGE 3: About */
#abtPg {
  max-width: var(--innerHeightMargin) var(--outerMargin);
  /* text-align: center; */
}
.person {
  display: grid;
  grid: 1fr / 0.4fr 0.6fr;
  gap: 2vw;
  margin: var(--innerHeightMargin) 0;
}
.picture img{
  width: 100%;
}


/* PAGE 4: Devlog */
#devlog{
  display: flex;
  justify-content: space-between;
}
#posts {
  width: calc(2.5 * var(--innerWidth));
}
#tags {
  width: calc(0.9 * var(--innerWidth));
  align-self: flex-start;
  height: auto;
  position: sticky;
  top: 0;
}
#tags h4 {
  text-align: right;
}
#tags button{
  float: right;
}
.individualPost {
  border: 1px solid var(--foreground);
  padding: 30px;
  margin: calc(0.5 * var(--innerHeightMargin)) 0;
}


/* PAGE 5: INDIVIDUAL PROJECT PAGE */
#date {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}
#q-sweeper {
  margin: var(--innerHeightMargin) var(--outerMargin);
}
#mainImg img {
  /* height: 405px; */
  width: 100%;
  background-color: var(--grey);
  /* margin: var(--innerHeightMargin) 0; */
}
.gallery {
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 2vh 2vw;
  margin: var(--innerHeightMargin) 0;
}
.gallery figure img{
  /* background-color: #564fa1; */
  /* height: 100%; */
  width: 100%;
}
.imagex2 {
  width: calc(0.45 * var(--innerContent));
  height: 305px;
  background-color: var(--grey);
  margin: calc(0.5 * var(--innerHeightMargin)) 0;
}
